# Data
data/raw/*.xlsx
data/raw/*.xls

# Python
__pycache__/
.ipynb_checkpoints/
.venv/
venv/

# OS
.DS_Store
Thumbs.db

# Local datasets
data/raw/
data/processed/

# Power BI local/cache files
**/.pbi/
powerbi/**/*.pbix
